[submodule "2021-2022/semester-2/Gestion-marcas-atletismo"]
	path = 2021-2022/semester-2/Gestion-marcas-atletismo
	url = https://github.com/jseg380/Gestion-marcas-atletismo
[submodule "2021-2022/semester-2/Metodologia-programacion"]
	path = 2021-2022/semester-2/Metodologia-programacion
	url = https://github.com/jseg380/Metodologia-programacion
[submodule "2022-2023/semester-1/Civitas"]
	path = 2022-2023/semester-1/Civitas
	url = https://github.com/jseg380/Civitas
[submodule "2022-2023/semester-1/PDOO-Java"]
	path = 2022-2023/semester-1/PDOO-Java
	url = https://github.com/jseg380/PDOO-Java
[submodule "2022-2023/semester-1/PDOO-Ruby"]
	path = 2022-2023/semester-1/PDOO-Ruby
	url = https://github.com/jseg380/PDOO-Ruby
[submodule "2022-2023/semester-1/Estructuras-datos"]
	path = 2022-2023/semester-1/Estructuras-datos
	url = https://github.com/jseg380/Estructuras-datos
[submodule "2022-2023/semester-2/Inteligencia-artificial"]
	path = 2022-2023/semester-2/Inteligencia-artificial
	url = https://github.com/jseg380/Inteligencia-artificial
[submodule "2023-2024/semester-1/Informatica-grafica"]
	path = 2023-2024/semester-1/Informatica-grafica
	url = https://github.com/jseg380/Informatica-grafica
[submodule "2023-2024/semester-2/Galactic-Pod-Racing"]
	path = 2023-2024/semester-2/Galactic-Pod-Racing
	url = https://github.com/jseg380/Galactic-Pod-Racing
[submodule "2024-2025/semester-2/Sistemas-cooperativos-y-gestion-de-contenidos"]
	path = 2024-2025/semester-2/Sistemas-cooperativos-y-gestion-de-contenidos
	url = https://github.com/jseg380/Sistemas-cooperativos-y-gestion-de-contenidos
[submodule "2024-2025/semester-1/Desarrollo-basado-agentes"]
	path = 2024-2025/semester-1/Desarrollo-basado-agentes
	url = https://github.com/jseg380/Desarrollo-basado-agentes
[submodule "2023-2024/semester-2/Sistemas-informacion-basados-web"]
	path = 2023-2024/semester-2/Sistemas-informacion-basados-web
	url = https://github.com/jseg380/Sistemas-informacion-basados-web
[submodule "2024-2025/semester-1/dgp-mda-backend"]
	path = 2024-2025/semester-1/dgp-mda-backend
	url = https://github.com/jseg380/dgp-mda-backend
[submodule "2024-2025/semester-1/dpg-mda-frontend"]
	path = 2024-2025/semester-1/dpg-mda-frontend
	url = https://github.com/jseg380/dpg-mda-frontend
